@using Authentication.Helper
@model PaginatedList<Product>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-sm-12">
        <div class="float-sm-end">
            <a href="#" class="btn btn-outline-light text-dark" data-bs-toggle="modal"
               data-bs-target="#modalSearching" title="Searching Pets">
                <i class="bi bi-search"></i> Search
            </a>
            <a href="#" class="btn btn-outline-light text-dark" data-bs-toggle="modal"
               data-bs-target="#modalSorting" title="Sorting Pets">
                <i class="bi bi-arrow-down-up"></i> Sort
            </a>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 product-item" style="padding:10px;">
            <img src="~/data/@(item.Id).png" width="100%" class="product-image" /><br />
            @*  Id: @item.Id<br /> *@
            Description: @item.Description<br />
            Old price: <strike>@(item.Price.ToString("C2"))</strike><br />
            New price: <span style="color:red;font-size:24px;">@((item.Price * (1 - item.Discount)).ToString("C2"))</span><br />
            Discount: @item.Discount.ToString("P0")<br />
            Category: @item.Category.Name<br />
            <a class="btn btn-dark" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart</a>
        </div>
    }
</div>
@await Html.PartialAsync("_NavigationButtons2")
@await Html.PartialAsync("_SortingDialog")
@await Html.PartialAsync("_SearchingDialog")
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".go").click(function () {
                //lay value cua page-index
                var pageIndex = $("#page-index").val();
                //tao url
                url = `/?pageIndex=${pageIndex}`
                //cap nhat href bang url
                $(this).attr("href", url);
            });
        });
    </script>
}
<style>
    .product-item img {
    background-color: #Faf7f4;
    padding: 10px;
    border-radius: 5px;
}

/* Đổi font chữ */
body {
    font-family: 'Times New Roman', serif;
}

/* Font chữ mặc định */
html {
    font-size: 14px;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

</style>