@model Authentication.Helper.Cart

@{
    ViewData["Title"] = "Your Cart";
}

<h1>Your Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Id
            </th>
            <th>
                Image
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th style="text-align:right;">
                Quantity
            </th>
            <th style="text-align:right;">
                Old Price
            </th>
            <th style="text-align:right;">
                Discount
            </th>
            <th style="text-align:right;">
                New Price
            </th>
            <th style="text-align:right;">
                Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var item in Model.List.Values)
        {
            <tr>
                <td>@(++count)</td>
                <td>@item.Id</td>
                <td><img src="~/data/@(item.Id).png" width="150" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td style="text-align:right;">
                    @* @Html.TextBoxFor(modelItem => item.Quantity) *@
                    <input type="number" min="1" id="quantity-@item.Id" value="@item.Quantity" />
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.NewPrice)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a class="update" asp-action="Update" data-id="@item.Id" asp-route-id="@item.Id" asp-route-quantity="-1">Update</a> |
                    <a href="#" class="lnkRemove" data-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="9" style="text-align:right;">Total:</th>
            <th style="text-align:right;" id="totalAmount">@Model.TotalAmount.ToString("C2")</th>
            <th><a asp-action="Empty">Empty</a></th>
        </tr>
    </tfoot>
</table>
<a class="btn btn-dark" asp-action="CheckOut" >Check out</a> 
<div class="alert alert-success alert-dismissible visually-hidden" id="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong id="alert-title">Success!</strong> 
    <span id="alert-content"> 

    </span>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".update").click(function () {
                //lay value cua thuoc tinh data-id
                var id = $(this).data("id")
                //lay value cua input $("#quantity-" + id)
                var quantity = $("#quantity-" + id).val();
                //lay value cua thuoc tinh href
                var url = $(this).attr("href");
                //C1: thay -1 bang quantity trong url
                //url = url.replace("-1", quantity);
                //C2: tao url
                url = `/Cart/Update/${id}?quantity=${quantity}`
                //cap nhat href bang url
                $(this).attr("href", url);
            });
        });
        $(".lnkRemove").click(function () {
            //Lay ra tr chua item bi xoa
            var tr = $(this).closest("tr");
            $.ajax({
                url: '/Cart/Remove',//Controller/action: xu ly yeu cau
                method: 'GET',
                async: true,//xu ly yc theo kieu bat dong bo
                cache: false,
                data: {//Du lieu gui len server
                    id: $(this).data("id")
                },
                beforeSend: function () {
                    //$("#fb").html("Deleting the item. Please wait...");
                    alert_show("alert-info", "Info!", "Deleting the item. Please wait...");
                }
            }).done(function (result) {//Lay kq sau khi xu ly yc
                if (result.status == "OK") {
                    $("#totalAmount").html(result.total_amount);
                    
                    //$("#fb").html("Deleting the item successfully.");
                    alert_show("alert-success", "Success!", "Deleting the item successfully.");
                    //Xoa dong chua item bi xoa
                    tr.remove();
                }
                else if (result.status == "ER") {
                    //$("#fb").html(result.data);
                    alert_show("alert-danger", "Error!", result.data);
                }

            }).fail(function (xhr, status) {//Xu ly loi
                //$("#fb").html(status);
                // alert_show("alert-danger", "Error!", status);
            }).always(function () {
                //$("#fb").html("");
            })
        })
    </script>
}